@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

.menu-title{
    color:rgb(253, 150, 164);
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 20px 0;
}