h3{
    color:rgb(241, 113, 131);
    font-family: 'Kalam', cursive;
}
table tr th{
    padding-left:20px !important;
    background-color:white;
  }
table tr td{
    padding-left:20px !important;
    background-color:white;
  }